.text-area {
    -fx-border-color: rgba(0, 0, 0, 1);
    -fx-background-color: rgba(64, 64, 64, 0.3);
    -fx-prompt-text-fill: rgba(64, 64, 64, 1);
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: linear-gradient(#c4daff, #99beff);
    -fx-border-color: black;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.button:hover {
    -fx-background-color: linear-gradient(#99beff, #5e99ff);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
}

#alphabetizeButton {
    -fx-background-color: linear-gradient(#15b433, #159633);
}

#alphabetizeButton:hover {
    -fx-background-color: linear-gradient(#159633, #156f33);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
}